#content {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0 auto;
  grid-template-areas: 
  "aside aside aside aside aside aside"
  "aside aside aside aside aside aside"
  "main main main main main main"
  "main main main main main main"
  "main main main main main main"
  
}

@media screen and (min-width: 760px) {
  #content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-areas: 
    "aside aside main main main main"
    "aside aside main main main main"
    "aside aside main main main main"
    "aside aside main main main main"
    "aside aside main main main main"
  }

  #content > * {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

#content > * {
  padding-bottom: 5px;
  padding-top: 5px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}



